body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: currentColor
}
ul {
  list-style-type: none;
}

.logo {
  color: #4D5AE5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-dark {
  color: #2E2F42;
  letter-spacing: 0.03em;
}
.logo-light {
  color: #F4F4FD;
  letter-spacing: 0.03em;
}
/*region header*/
.menu {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu:hover,
.menu:focus {
  color: #404bbf;
}
.menu:active {
  color: #404bbf;
}

.contacts{
  color: #434455;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #404bbf;
}
/*endregion header*/
.hero{
  background-color: #2e2f42;
}
.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus{
  background-color: #404bbf;
}

/*region features*/

.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.features-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*endregion features*/
/*region team*/
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.team-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/*endregion team*/

/*region portfolio*/
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
}
.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }
/*endregion portfolio*/

/*region footer*/
footer {
  background-color: #2E2F42;
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*endregion footer*/
